.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
}

.main {
  flex: 1;
}

.hero {
  --hero-padding-left: 64px;
  padding-top: 96px;
  overflow-x: hidden;
}

.heroTitle {
  margin-top: 200px;
  padding-left: var(--hero-padding-left);
}
